{% extends 'core/base.html' %}
{% block content %}
 
  <!--Password Reset Confirm-->
    <div class="container w-50">
	    <h2 class="font-weight-bold mt-3">Reseteo de Contraseña Confirmado</h2>
		<hr>
        <p>Por favor ingrese su nueva Contraseña</p>
        <form method="POST">
        {% csrf_token %}
            <label for="id_new_password1">Contraseña nueva:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"><br>
            <span class="helptext">
            <ul>
                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
            </ul>
            </span>
            <label for="id_new_password2">Contraseña nueva (confirmación):</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            <br>                    
            <button class="btn btn-primary" type="submit">Resetear Contraseña</button>
        </form>
    </div>

{% endblock %}

