{% extends 'core/base.html' %}
{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Reseteo de Contraseña enviado</h2>
		<hr>
		<p>Se enviaron las intrucciones para resetear tu contraseña, si el mail que ingresaste corresponde a una cuenta existente. Deberías recibirlo a la brevedad.<br>Si no recibiste el mail, por favor asegurate de haber ingresado un mail registrado o revisa tu carpeta de correo no deseado.</p>
  </div>

{% endblock %}